AddDefaultCharset UTF-8
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ index.php [L]
RewriteRule ^Blog/$ Blog/blog_page.php [L]
RewriteRule ^Forum/$ Forum/forum.php [L]

RewriteRule ^Forum/([0-9]+)/([0-9]+)/([0-9]+)$ Forum/view_topic.php?topic_id=$2&parent_id=$1&del=$3 [QSA,L]
RewriteRule ^Forum/([0-9]+)/([0-9]+)/Edit$ Forum/edit_topic.php?topic_id=$2&parent_id=$1 [QSA,L]
RewriteRule ^Forum/([0-9]+)/([0-9]+)/Edit_Sous_Block$ Forum/edit_sub_cat.php?block_id=$1&sub_block_id=$2 [QSA,L]
RewriteRule ^Forum/([0-9]+)/([0-9]+)$ Forum/view_topic.php?topic_id=$2&parent_id=$1 [QSA,L]
RewriteRule ^Forum/([0-9]+)/Nouveau_Topic$ Forum/new_topic.php?parent_id=$1 [QSA,L]
RewriteRule ^Forum/([0-9]+)/Edit$ Forum/edit_cat.php?block_id=$1 [QSA,L]
RewriteRule ^Forum/Nouvelle_Categorie$ Forum/new_cat.php [QSA,L]
RewriteRule ^Forum/([0-9]+)/Nouvelle_Sous_Categorie$ Forum/new_sub_cat.php?block_id=$1 [QSA,L]
RewriteRule ^Forum/([0-9]+)/$ Forum/sub_block.php?block_id=$1 [QSA,L]

RewriteRule ^Liens/admin/([0-9]+)$ Liens/edit_link.php?admin=1&link_id=$1 [QSA,L]
RewriteRule ^Liens/([0-9]+)$ Liens/edit_link.php?link_id=$1 [QSA,L]
RewriteRule ^Liens/$ Liens/links.php [L]

RewriteRule ^Parametres/$ Parametres/settings.php [L]

RewriteRule ^Blog/([0-9]+)/([0-9]+)/([0-9]+)/(.+)/([0-9]+)$ Blog/viewpost.php?url=$4&del=$5 [QSA,L]
RewriteRule ^Blog/([0-9]+)/([0-9]+)/([0-9]+)/(.+)$ Blog/viewpost.php?url=$4 [QSA,L]
RewriteRule ^Blog/([0-9]+)/([0-9]+)/([0-9]+)/$ Blog/date.php?y=$1&m=$2&d=$3 [QSA,L]
RewriteRule ^Blog/([0-9]+)/([0-9]+)/$ Blog/date.php?y=$1&m=$2 [QSA,L]
RewriteRule ^Blog/([0-9]+)/$ Blog/date.php?y=$1 [QSA,L]
RewriteRule ^Blog/([0-9]+)$ Blog/blog_page.php?pagenum=$1 [QSA,L]
RewriteRule ^Blog/Edit/([0-9]+)$ Blog/edit_post.php?post_id=$1 [QSA,L]
RewriteRule ^Blog/C-(.*)$ Blog/categories.php?cat=$1 [QSA,L]
